<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>My Wishlists</title>
        <link rel="icon" href="/assets/img/favicon.gif">
</head>

<body>
    {{{ body }}}
</body>

</html>