<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Basic Header Setup -------------------------------------------- -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Wishlist</title>
    <link rel="icon" href="/assets/img/favicon.gif">
    <!-- Style Sheets--------------------------------------------------- -->
    <!-- Bootstrap ----------------------------------------------------- -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <!-- Style sheet links --------------------------------------------- -->
    <link rel="stylesheet" href="/assets/css/wishlist.css">

    <!-- Fonts -------------------------------------------------------- -->
    <link href="https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap" rel="stylesheet">

    <!-- Scripts-------------------------------------------------------- -->
    <!-- Jquery -------------------------------------------------------- -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <!-- Hammer package------------------------------------------------ -->
    <script src="/assets/js/hammer.min.js"></script>
    <!-- Bootstrap--------------------------------------------------- -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
        crossorigin="anonymous"></script>

    <!-- Google icons ----------------------------------------------------->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>

<body>

      <!-- welcome popup -->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="modal no-border" id="splashScreen">
                    <div class="modal-dialog modal-lg no-border">
                        <div class="modal-content no-border">
                            <svg id="logo" width="880" height="120" viewBox="0 0 880 120" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M51.1016 62.0234L77.8203 10.625H93.1484L57.8516 74.8203V113H44.3516V74.8203L9.05469 10.625H24.5234L51.1016 62.0234Z"
                                    stroke="#DA3E3F" stroke-width="3"  />
                                <path
                                    d="M96.2422 74.2578C96.2422 66.8047 97.6953 60.1016 100.602 54.1484C103.555 48.1953 107.633 43.6016 112.836 40.3672C118.086 37.1328 124.062 35.5156 130.766 35.5156C141.125 35.5156 149.492 39.1016 155.867 46.2734C162.289 53.4453 165.5 62.9844 165.5 74.8906V75.8047C165.5 83.2109 164.07 89.8672 161.211 95.7734C158.398 101.633 154.344 106.203 149.047 109.484C143.797 112.766 137.75 114.406 130.906 114.406C120.594 114.406 112.227 110.82 105.805 103.648C99.4297 96.4766 96.2422 86.9844 96.2422 75.1719V74.2578ZM109.32 75.8047C109.32 84.2422 111.266 91.0156 115.156 96.125C119.094 101.234 124.344 103.789 130.906 103.789C137.516 103.789 142.766 101.211 146.656 96.0547C150.547 90.8516 152.492 83.5859 152.492 74.2578C152.492 65.9141 150.5 59.1641 146.516 54.0078C142.578 48.8047 137.328 46.2031 130.766 46.2031C124.344 46.2031 119.164 48.7578 115.227 53.8672C111.289 58.9766 109.32 66.2891 109.32 75.8047Z"
                                    stroke="#DA3E3F" stroke-width="3"  />
                                <path
                                    d="M228.781 105.477C223.719 111.43 216.289 114.406 206.492 114.406C198.383 114.406 192.195 112.062 187.93 107.375C183.711 102.641 181.578 95.6562 181.531 86.4219V36.9219H194.539V86.0703C194.539 97.6016 199.227 103.367 208.602 103.367C218.539 103.367 225.148 99.6641 228.43 92.2578V36.9219H241.438V113H229.062L228.781 105.477Z"
                                    stroke="#DA3E3F" stroke-width="3"  />
                                <path
                                    d="M298.039 48.5938C296.07 48.2656 293.938 48.1016 291.641 48.1016C283.109 48.1016 277.32 51.7344 274.273 59V113H261.266V36.9219H273.922L274.133 45.7109C278.398 38.9141 284.445 35.5156 292.273 35.5156C294.805 35.5156 296.727 35.8438 298.039 36.5V48.5938Z"
                                    stroke="#DA3E3F" stroke-width="3"  />
                                <path
                                    d="M405.617 80.7266L407.586 94.2266L410.469 82.0625L430.719 10.625H442.109L461.867 82.0625L464.68 94.4375L466.859 80.6562L482.75 10.625H496.32L471.5 113H459.195L438.102 38.3984L436.484 30.5938L434.867 38.3984L413 113H400.695L375.945 10.625H389.445L405.617 80.7266Z"
                                    stroke="#DA3E3F" stroke-width="3"  />
                                <path
                                    d="M523.461 113H510.453V36.9219H523.461V113ZM509.398 16.7422C509.398 14.6328 510.031 12.8516 511.297 11.3984C512.609 9.94531 514.531 9.21875 517.062 9.21875C519.594 9.21875 521.516 9.94531 522.828 11.3984C524.141 12.8516 524.797 14.6328 524.797 16.7422C524.797 18.8516 524.141 20.6094 522.828 22.0156C521.516 23.4219 519.594 24.125 517.062 24.125C514.531 24.125 512.609 23.4219 511.297 22.0156C510.031 20.6094 509.398 18.8516 509.398 16.7422Z"
                                    stroke="#DA3E3F" stroke-width="3" />
                                <path
                                    d="M588.641 92.8203C588.641 89.3047 587.305 86.5859 584.633 84.6641C582.008 82.6953 577.391 81.0078 570.781 79.6016C564.219 78.1953 558.992 76.5078 555.102 74.5391C551.258 72.5703 548.398 70.2266 546.523 67.5078C544.695 64.7891 543.781 61.5547 543.781 57.8047C543.781 51.5703 546.406 46.2969 551.656 41.9844C556.953 37.6719 563.703 35.5156 571.906 35.5156C580.531 35.5156 587.516 37.7422 592.859 42.1953C598.25 46.6484 600.945 52.3438 600.945 59.2812H587.867C587.867 55.7188 586.344 52.6484 583.297 50.0703C580.297 47.4922 576.5 46.2031 571.906 46.2031C567.172 46.2031 563.469 47.2344 560.797 49.2969C558.125 51.3594 556.789 54.0547 556.789 57.3828C556.789 60.5234 558.031 62.8906 560.516 64.4844C563 66.0781 567.477 67.6016 573.945 69.0547C580.461 70.5078 585.734 72.2422 589.766 74.2578C593.797 76.2734 596.773 78.7109 598.695 81.5703C600.664 84.3828 601.648 87.8281 601.648 91.9062C601.648 98.7031 598.93 104.164 593.492 108.289C588.055 112.367 581 114.406 572.328 114.406C566.234 114.406 560.844 113.328 556.156 111.172C551.469 109.016 547.789 106.016 545.117 102.172C542.492 98.2812 541.18 94.0859 541.18 89.5859H554.188C554.422 93.9453 556.156 97.4141 559.391 99.9922C562.672 102.523 566.984 103.789 572.328 103.789C577.25 103.789 581.188 102.805 584.141 100.836C587.141 98.8203 588.641 96.1484 588.641 92.8203Z"
                                    stroke="#DA3E3F" stroke-width="3"  />
                                <path
                                    d="M631.602 46.1328C637.367 39.0547 644.867 35.5156 654.102 35.5156C670.18 35.5156 678.289 44.5859 678.43 62.7266V113H665.422V62.6562C665.375 57.1719 664.109 53.1172 661.625 50.4922C659.188 47.8672 655.367 46.5547 650.164 46.5547C645.945 46.5547 642.242 47.6797 639.055 49.9297C635.867 52.1797 633.383 55.1328 631.602 58.7891V113H618.594V5H631.602V46.1328Z"
                                    stroke="#DA3E3F" stroke-width="3"  />
                                <path d="M712.039 113H699.031V5H712.039V113Z" stroke="#DA3E3F" stroke-width="3" />
                                <path
                                    d="M747.055 113H734.047V36.9219H747.055V113ZM732.992 16.7422C732.992 14.6328 733.625 12.8516 734.891 11.3984C736.203 9.94531 738.125 9.21875 740.656 9.21875C743.188 9.21875 745.109 9.94531 746.422 11.3984C747.734 12.8516 748.391 14.6328 748.391 16.7422C748.391 18.8516 747.734 20.6094 746.422 22.0156C745.109 23.4219 743.188 24.125 740.656 24.125C738.125 24.125 736.203 23.4219 734.891 22.0156C733.625 20.6094 732.992 18.8516 732.992 16.7422Z"
                                    stroke="#DA3E3F" stroke-width="3" />
                                <path
                                    d="M812.234 92.8203C812.234 89.3047 810.898 86.5859 808.227 84.6641C805.602 82.6953 800.984 81.0078 794.375 79.6016C787.812 78.1953 782.586 76.5078 778.695 74.5391C774.852 72.5703 771.992 70.2266 770.117 67.5078C768.289 64.7891 767.375 61.5547 767.375 57.8047C767.375 51.5703 770 46.2969 775.25 41.9844C780.547 37.6719 787.297 35.5156 795.5 35.5156C804.125 35.5156 811.109 37.7422 816.453 42.1953C821.844 46.6484 824.539 52.3438 824.539 59.2812H811.461C811.461 55.7188 809.938 52.6484 806.891 50.0703C803.891 47.4922 800.094 46.2031 795.5 46.2031C790.766 46.2031 787.062 47.2344 784.391 49.2969C781.719 51.3594 780.383 54.0547 780.383 57.3828C780.383 60.5234 781.625 62.8906 784.109 64.4844C786.594 66.0781 791.07 67.6016 797.539 69.0547C804.055 70.5078 809.328 72.2422 813.359 74.2578C817.391 76.2734 820.367 78.7109 822.289 81.5703C824.258 84.3828 825.242 87.8281 825.242 91.9062C825.242 98.7031 822.523 104.164 817.086 108.289C811.648 112.367 804.594 114.406 795.922 114.406C789.828 114.406 784.438 113.328 779.75 111.172C775.062 109.016 771.383 106.016 768.711 102.172C766.086 98.2812 764.773 94.0859 764.773 89.5859H777.781C778.016 93.9453 779.75 97.4141 782.984 99.9922C786.266 102.523 790.578 103.789 795.922 103.789C800.844 103.789 804.781 102.805 807.734 100.836C810.734 98.8203 812.234 96.1484 812.234 92.8203Z"
                                    stroke="#DA3E3F" stroke-width="3" />
                                <path
                                    d="M859.836 18.5V36.9219H874.039V46.9766H859.836V94.1562C859.836 97.2031 860.469 99.5 861.734 101.047C863 102.547 865.156 103.297 868.203 103.297C869.703 103.297 871.766 103.016 874.391 102.453V113C870.969 113.938 867.641 114.406 864.406 114.406C858.594 114.406 854.211 112.648 851.258 109.133C848.305 105.617 846.828 100.625 846.828 94.1562V46.9766H832.977V36.9219H846.828V18.5H859.836Z"
                                    stroke="#DA3E3F" stroke-width="3"  />
                            </svg>
                        </div>
                    </div>
                </div>
               
            </div>
        </div>
    </div>

   
    <div id="floatingRectangle">
        <a href="/logout"><span class="material-icons" id="backIcon">arrow_back_ios </span></a>
    </div>

    <!-- Book starts here -->
    <div class="scene">
        <article class="book">
            <section class="page active">
                <div class="front">
                    <div id="pageContentFront">
                        <img id="frontcover" src="/assets/img/book_cover.png">
                    </div>
                </div>
                <div class="back">
                    <!-- Grab the wishlist name here -->
                    <h1> <input type="text" id="wishlistName" name="wishlistName" placeholder="Enter Title">
                    </h1>
                    <div class="form" id="pageContent">
                        <!-- Grab inputs using these input id's -->
                        <input class="item" id="itemOne" type="text" name="name" autocomplete="off" />
                        <label for="name" class="label-name">
                            <span class="content-name">Item 1: </span>
                        </label>
                    </div>
                    <div class="form" id="pageContent">
                        <input class="item" id="itemTwo" type="text" name="name" autocomplete="off" />
                        <label for="name" class="label-name">
                            <span class="content-name">Item 2: </span>
                        </label>
                    </div>
                    <div class="form" id="pageContent">
                        <input class="item" id="itemThree" type="text" name="name" autocomplete="off" />
                        <label for="name" class="label-name">
                            <span class="content-name">Item 3: </span>
                        </label>
                    </div>
                    <div class="form" id="pageContent">
                        <input class="item" id="itemFour" type="text" name="name" autocomplete="off" />
                        <label for="name" class="label-name">
                            <span class="content-name">Item 4: </span>
                        </label>
                    </div>
                    <div class="form" id="pageContent">
                        <input class="item" id="itemFive" type="text" name="name" autocomplete="off" />
                        <label for="name" class="label-name">
                            <span class="content-name">Item 5: </span>
                        </label>
                    </div>
                    <div class="form" id="pageContent">
                        <input class="item" id="itemSix" type="text" name="name" autocomplete="off" />
                        <label for="name" class="label-name">
                            <span class="content-name">Item 6: </span>
                        </label>
                    </div>
                    <div class="form" id="pageContent">
                        <input class="item" id="itemSeven" type="text" name="name" autocomplete="off" />
                        <label for="name" class="label-name">
                            <span class="content-name">Item 7: </span>
                        </label>
                    </div>
                    <!-- This is the submit button to save the wishlist -->

                    <button id="saveWishList">Save List</button>
                    <button id="viewWishList"><a id="view" href="/view-wishes">View List</a></button>
                </div>
            </section>
            <section class="page">
                <div class="front">
                    <div id="pageContentFront">
                        <img id="frontcover" src="/assets/img/blankpage.png">
                    </div>
            </section>
        </article>
    </div>
    <!-- Scripts-------------------------------------------------------- -->
    <!-- Jquery -------------------------------------------------------- -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <!-- Hammer package------------------------------------------------ -->
    <script src="/assets/js/hammer.min.js"></script>
    <!-- Bootstrap--------------------------------------------------- -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
        crossorigin="anonymous"></script>
    <!-- Script links--------------------------------------------------- -->
    <script src="/assets/js/login.js"></script>
    <script src="/assets/js/view-wishlist.js"></script>
    <script src="/assets/js/wishlist.js"></script>
</body>

</html>