:root{
    --primary: #728394;
    --secondary: #DA3E3F;
    --dark: #212121;
    --light: #f3f3f3f3;
}
*{
    margin:0;
    padding:0;
}
body{
    position: relative;
    font-family: 'Merriweather Sans', sans-serif;
    width: 100%;
    min-height: 100vh;
    font-family: 'Merriweather Sans', sans-serif;
    background: linear-gradient(
        to right,
        #ffffff,
        rgba(8, 83, 156, 1)
    );
    background-size: cover;
    margin: 0;
   
}
#backIcon{
    color: #DA3E3F;
    font-size: 100px;
    z-index: 3;
    position: fixed; 
    top: 298px;
    height: 100px;     
    padding: 0;
    margin-top: 9rem;        
}

#backIcon:hover
{
  animation: bounce linear infinite 1s;
}

@keyframes bounce
{
  0%{
    padding-right: 100px;
    padding-left: 0;
  }
  
  50%{
    padding-right: 0;
    padding-left: 100px;
  }
  
  100%{
    padding-right: 100px;
    padding-left: 0;
  }
}
.cardTwo{
    margin: 100px auto 0;
    width: 250px;
    height: 350px;
    perspective: 1000px;
}
.card__inner0{
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
}
.card__inner0.is-flipped{
    transform: rotateY(180deg)
}
.card__inner1{
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
}
.card__inner1.is-flipped{
    transform: rotateY(180deg)
}

.card__inner2{
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
}
.card__inner2.is-flipped{
    transform: rotateY(180deg)
}

.card__inner3{
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
}
.card__inner3.is-flipped{
    transform: rotateY(180deg)
}

.card__inner4{
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
}
.card__inner4.is-flipped{
    transform: rotateY(180deg)
}
.card__face{
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow: hidden;
    border-radius: 16px;
    box-shadow: 0px 3px 18px 3px rgba(0, 0, 0, 0.2);
}
.card__face--front{
    background-image: url(../img/wishlistsml.png);
    display: flex;
    align-items: center;
    justify-content: center;
}
.card__face--front h2{
    color:rgb(43, 41, 41);
    font-size:30px;
}
.card__face--back{
    background-color: var(--light);
    transform: rotateY(180deg)
}
.card__content{
    width: 100%;
    height: 100%;
}
.card__header{
    position: relative;
    padding: 30px 30px 30px 40px
}
.card__header:after{
    content:"";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    border-radius: 0 0 50% 0;
    background-image: linear-gradient(to bottom left, var(--primary) 10%, var(--secondary) 115%);
}
.pp{
    display: block;
    width: 128px;
    height: 128px;
    margin: 0 auto 30px;
    border-radius: 50%;
    background-color: #fff;
    border: 5px solid #fff;
    object-fit: cover;
}

.card__header h2{
    color: #fff;
    font-size: 32px;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
}
.card__body{
    padding:30px;        
}
.card__body h3{
    color: var(--dark);
    font-size: 23px;
    font-weight: 600;
    margin-bottom: 15px;
}
.card__body ul {
    color: var(--dark);
    font-size: 18px;
    line-height: 1.5;
}
