html{
    font-family: 'Merriweather Sans', sans-serif;
    height: 100%;
    overflow: hidden;    
}
body{
    font-family: 'Merriweather Sans', sans-serif;
    background: linear-gradient(
        to right,
        #ffffff,
        rgba(8, 83, 156, 1)
    );
    background-size: cover;
    margin: 0;
    width: 100%;
    height: 100%;
    
}
.container{
    background-color: #DA3E3F; 
}

#view{
    color:white;
}
#backIcon{
    color: #DA3E3F;
    font-size: 100px;
    z-index: 3;
    position: absolute;
    top: 298px;
    height: 100px;     
    padding: 0;
    margin-top: 9rem;
    margin-right: 75rem;        
}
#backIcon:hover
{
  animation: bounce linear infinite 1s;
}

@keyframes bounce
{
  0%{
    padding-right: 100px;
    padding-left: 0;
  }
  
  50%{
    padding-right: 0;
    padding-left: 100px;
  }
  
  100%{
    padding-right: 100px;
    padding-left: 0;
  }
}
h1{
    margin-top: 1rem;
    text-align: center;        
}
#buttonTextColor{
    color: white;
}
.scene{
    width: 45%;
    height: 90%;
    margin: 5% 5% 5% 50%;
    perspective: 1000px;
}
.book{
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
}
.page{
  
    background-size: contain;
    cursor: pointer;
    position: absolute;
    color: black;
    width: 100%;
    height: 100%;
    transition: 1.5s transform;
    transform-style: preserve-3d;
    transform-origin: left center;    
}

.front,
.back{   
    justify-content: space-around;
    align-content: center;
    position: absolute;    
    min-width:500px;
    min-height: 700px;
    box-sizing: border-box;
    backface-visibility: hidden;
    background-color:   white;
	margin: 0 auto;	
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
}
.back{
    transform: rotateY(180deg);
}
.page.active{
    z-index: 1;
}
.page.flipped{
    transform: rotateY(-180deg);
}
.page.flipped:last-of-type{
    z-index: 1;
}
p{
    margin: 0 0 0.1em;
}
#pageContent{  
    margin-top: 2rem;   
}
#pageContentFront{
    /* margin-top: 8rem;    */
    background-color: white;
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
}
.form{
    margin-left: 50px;
    padding-left: 50px;
    width: 85%;
    position: relative;
    height: 50px;
}
.form input{
    width: 100%;
    height: 100%;
    padding-bottom: 15px;
    color: #338ECE;
    font-weight: bold; 
    padding-top: 10px;
    border: none;
    outline: none;
}
.form label{
    /* padding-bottom: 6px; */
    position: absolute;   
    bottom: 0px;
    left: 0%;
    height: 100%;
    width: 100%;  
    pointer-events: none;  
    border-bottom: 1px solid black
}
.forminput, textarea {
    background-color:white
}
.form label::after {
    content: "";
    position: absolute;
    left: 0px;
    height: 100%;
    width: 100%;
    border-bottom: 3px solid #DA3E3F;
    transform: translateX(-100%);
    transition: all 0.3s ease;
}
.content-name{
    position: absolute;
    bottom: 5px;
    left: 0px;
    transition: all 0.3s ease;
}
.form input:focus + .label-name .content-name
{
    transform: translateY(-150%);
    font-size: 14px;
    color: #DA3E3F;
}
.form input:focus + .label-name::after, 
.form input:valid + .label-name::after {
    transform: translateX(0%);
}
button{   
        /* padding: 0rem; */
        background: none;
        border: none;
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
        border-radius: 30px;
        cursor: pointer;
        font-weight: bold;
        color: white;
        background: #DA3E3F;    
        height: 2rem;
        transition: all 0.75s ease-out; 
        border: none;
        outline: none;   
        width:30%;
        margin-left:10%;
        margin-right:5%;
        margin-top: 10px;
        margin-bottom: 10px;
      
}
button:active {
        background: #3330eb;
        color: white;
        border: none;
        outline: none;
        width:30%;
        margin-left:10%;
        margin-right:5%;
        margin-top: 10px;
        margin-bottom: 10px;
}

#wishlistName{
    margin-left:5%;
    margin-right:15%;
    border: none;
}

#splashScreen {
    padding: 0;
    margin: 0;  
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        to right,
        #ffffff,
        rgba(8, 83, 156, 1)
    );
    
    min-height: 100vh;
    z-index: 7;  
}
.modal-backdrop.show {
    opacity: 0;
}

#logo{
    position: absolute;
    color: #DA3E3F;
    top: 50vh;
    left:50%;
    transform: translate(-50%, -50%);
    animation: fill 0.5s ease forwards 3s;
}


#logo path:nth-child(1){
   stroke-dasharray: 383px;
   stroke-dashoffset: 383px;
   animation:line-anim 2s ease forwards;

}
#logo path:nth-child(2){
    stroke-dasharray: 389px;
    stroke-dashoffset: 389px;
    animation:line-anim 2s ease forwards 0.2s;

 }
 #logo path:nth-child(3){
    stroke-dasharray: 394px;
    stroke-dashoffset: 394px;
    animation:line-anim 2s ease forwards 0.4s;

 }
 #logo path:nth-child(4){
    stroke-dasharray: 236px;
    stroke-dashoffset: 236px;
    animation:line-anim 2s ease forwards 0.6s;

 }
 #logo path:nth-child(5){
    stroke-dasharray: 790px;
    stroke-dashoffset: 790px;
    animation:line-anim 2s ease forwards 0.8s;

 }
 #logo path:nth-child(6){
    stroke-dasharray: 226px;
    stroke-dashoffset: 226px;
    animation:line-anim 2s ease forwards 1.0s;

 }
 #logo path:nth-child(7){
    stroke-dasharray: 409px;
    stroke-dashoffset: 409px;
    animation:line-anim 2s ease forwards 1.2s;

 }
 #logo path:nth-child(8){
    stroke-dasharray: 459px;
    stroke-dashoffset: 459px;
    animation:line-anim 2s ease forwards 1.4s;

 }
 #logo path:nth-child(9){
    stroke-dasharray: 242px;
    stroke-dashoffset: 242px;
    animation:line-anim 2s ease forwards 1.6s

 }
 #logo path:nth-child(10){
    stroke-dasharray: 226px;
    stroke-dashoffset: 226px;
    animation:line-anim 2s ease forwards 1.8s

 }
 #logo path:nth-child(11){
    stroke-dasharray: 409px;
    stroke-dashoffset: 409px;
    animation:line-anim 2s ease forwards 2.0s

 }
 #logo path:nth-child(12){
    stroke-dasharray: 292px;
    stroke-dashoffset: 292px;
    animation:line-anim 2s ease forwards 2.2s

 }

 @keyframes line-anim{
     to{
         stroke-dashoffset: 0;
     }
 }
@keyframes fill{
    from{
        fill: transparent;
    }
    to{
        fill: white
    }
}

.modal-header {
    border-bottom: 0 none;
}

.modal-footer {
    border-top: 0 none;
}
.no-border{
    border:none;
  }

